
.bg1 .h-color{
    font-size:80px;font-family: 'Times New Roman', Times, serif;
    
}
.bg1 {
    font-size: 15px;font-family: 'Times New Roman', Times, serif;background: url(../farming.jpg) no-repeat;background-attachment: fixed;background-size: cover;padding: 300px;margin: 20px; background-position:top center;
}
    
.bor{
    border-width: 2px;
    border-color: green;
    border-style: solid;
    background-color: green;
    font-size: 18px;
}